.camera-page{
  padding:30px;
  text-align:center;
}

.video-box{
  width:400px;
  border-radius:12px;
  margin-bottom:15px;
}

.primary-btn{
  margin:10px;
  padding:10px 20px;
  border:none;
  border-radius:10px;
  background:linear-gradient(135deg,#7b5cff,#ff4fa3);
  color:white;
  cursor:pointer;
}

.captured-img{
  width:300px;
  border-radius:12px;
  margin-top:20px;
}

.result-card{
  margin-top:20px;
  padding:20px;
  border-radius:15px;
  background:#f3f4f6;
}