/* PAGE BACKGROUND */
.stress-page{
  padding:30px;
  max-width:900px;
  margin:auto;

  background: linear-gradient(135deg,#ede9fe,#fce7f3);
  min-height:100vh;
}

/* TITLE */
.stress-page h2{
  margin-bottom:25px;
}

/* QUESTION CARD */
.question-card{
  background:white;
  padding:18px;
  border-radius:14px;
  margin-bottom:18px;

  box-shadow:0 6px 15px rgba(0,0,0,0.08);

  transition:0.3s;
}

.question-card:hover{
  transform:translateY(-2px);
}

/* QUESTION TEXT */
.question-card p{
  font-weight:500;
  margin-bottom:10px;
}

/* OPTIONS */
.options{
  display:flex;
  flex-wrap:wrap;
  gap:10px;
}

.options button{
  padding:8px 14px;
  border-radius:20px;
  border:1px solid #ddd;
  background:#f9fafb;
  cursor:pointer;

  transition:0.3s;
}

/* HOVER */
.options button:hover{
  background:#eee;
}

/* ACTIVE OPTION */
.options .active{
  background: linear-gradient(135deg,#7b5cff,#ff4fa3);
  color:white;
  border:none;
}

/* SUBMIT BUTTON */
.submit-btn{
  width:100%;
  padding:14px;
  margin-top:20px;

  border:none;
  border-radius:14px;

  background:linear-gradient(135deg,#7b5cff,#ff4fa3);
  color:white;

  font-weight:bold;
  font-size:16px;

  cursor:pointer;
  transition:0.3s;
}

.submit-btn:hover{
  transform:scale(1.02);
}

/* RESULT BOX */
.result-box{
  margin-top:25px;
  padding:20px;
  border-radius:16px;

  background:white;
  box-shadow:0 10px 25px rgba(0,0,0,0.1);
}